# data
data/cifs
data/meta
data/embedding_example/*

# experiment loggings
experiments/supervised/lightning_logs
experiments/supervised/outputs
experiments/supervised/wandb
experiments/supervised/.lr_find*
experiments/unsupervised/outputs
experiments/unsupervised/wandb
experiments/workflow/lightning_logs
experiments/workflow/outputs
experiments/workflow/wandb
experiments/workflow/sweep_results

# python cache
dev/.ipynb_checkpoints
dev/lightning_logs
src/mofgraph2vec/__pycache__
src/mofgraph2vec/*/__pycache__
src/mofgraph2vec.egg-info
