# data
data/cifs
data/meta*
data/embedding_example/*
data/*.csv
data/*.json

# experiment loggings
experiments/workflow/lightning_logs
experiments/workflow/outputs
experiments/workflow/wandb
experiments/workflow/sweep_results

# python cache
dev/.ipynb_checkpoints
dev/lightning_logs
src/mofgraph2vec/__pycache__
src/mofgraph2vec/*/__pycache__
src/mofgraph2vec.egg-info
.DS_Store
