# data
data/cifs
data/meta

# experiment loggings
experiments/supervised/lightning_logs
experiments/supervised/outputs
experiments/supervised/wandb
experiments/unsupervised/outputs
experiments/unsupervised/wandb
experiments/workflow/lightning_logs
experiments/workflow/outputs
experiments/workflow/wandb

# python cache
dev/.ipynb_checkpoints
src/mofgraph2vec/__pycache__
src/mofgraph2vec/*/__pycache__
